.container{
    width: 100%;
    padding: 0 15px;
}

#main-nav .container{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

.d-flex{
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    padding: 0;
}

#section-1{
    width: 20%;
    justify-content: space-between;
}

#section-2{
    width: 30%;
    justify-content: center;

}

#section-3{
    width: 20%;
    justify-content: space-between;

}

@media (min-width: 992px){
    .container{
        max-width: 992px;
        margin: 0 auto;
    }
}